section {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/assets/manoir.jpg");
/* Set a specific height */
height: calc(100% - 72px);
/* Position nd center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
.content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .main-button {
      margin-bottom: 60px;
      padding: 60px;
      background-image: url('/assets/logo.jpg');
      background-position: center;
background-repeat: no-repeat;
background-size: cover;
      border: 1px solid #fff;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}