<section>
  <div class="inner-border">
    <div class="images">
      <img class="left" src="/assets/left-flower.JPG"/>
      <h1>Félicitations</h1>
      <img class="right" src="/assets/right-flower.jpg"/>
    </div>
    <p>
        Tu as résolu la première partie de l'énigme.
        Ce n'était que le début...
    </p>
    <p>
        Souviens toi de ce qui t'a permis d'arriver 
        jusqu'ici et tu auras une longueur d'avance 
        pour la véritable énigme 
        le jour du mariage
    </p>
    <p>
        Tu l'as cru, oui oui oui
    </p>
  </div>
</section>
