<section>
  <div class="inner-border">
    <div class="images">
      <img class="left" src="/assets/left-flower.JPG"/>
      <h1 style="color: #006338; font-size: 32px;font-family: 'Tangerine', serif">Félicitations</h1>
      <img class="right" src="/assets/right-flower.jpg"/>
    </div>
    <p style="color: #006338; font-size: 26px; font-family: 'EB Garamond', serif">
        Aa aa aaaaaa aa aaaaaaa aaaaaa aa a'aaaaaa.
        <br/> Aa a'aaaaa aaa aa aaaaa...
    </p>
    <p style="color: #006338; font-size: 26px; font-family: 'EB Garamond', serif">
        <br/> Aaaaaaaa aaa aa aa aaa a'a aaaaaa a'aaaaaaa 
        <br/> aaaaa'aaa aa aa aaaaa aaa aaaaaaaa a'aaaaaa 
        <br/> aaaa aa aaaaaaaaa aaaaaa 
        <br/> aa aaaa aa aaaaaaa
    </p>
  </div>
</section>
