section {
  height: calc(100% - 72px);
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", serif;
  div {
    height: 85%;
    width: 85%;
    align-self: center;
    box-shadow: 0 0 0 1px #006338,0 0 0 7px white, 0 0 0 10px #006338;
    h1 {
      text-align: center;
      font-size: 40px;
    }
    p {
      text-align: center;
      font-size: 32px;
    }
  }
}
