<section class="covoiturages-section">
  <ng-container *ngFor="let co of covoi | keyvalue">
    <h3 class="ville">{{co.key}}</h3>
    <div class="covoiturages-items">
      <div *ngFor="let covoiturage of co.value" class="covoiturages-item">
        <div class="covoiturages-item-image" [ngClass]="covoiturage.image"></div>
        <h3>
          <span class="date">{{covoiturage.startDate | date:'shortDate'}} {{covoiturage.startTime}}</span>
          <span class="passengers">{{covoiturage.nbPassengersTotal - covoiturage.nbPassengers}} places</span>
        </h3>
      </div>
    </div>
  </ng-container>
</section>
