.set-mail {
  height: calc(100% - 72px);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .set-mail-div {
    border-radius: 5px;
    border-bottom: 3px solid #b36700;
    text-align: center;
    h3 {
      text-align: center;
      margin-top: 0;
      text-align: center;
      font-family: "EB Garamond", serif;
      color: #006338;
      font-weight: 500;
    }
    input {
      width: 100%;
    }
    button {
      margin-top: 15px;
      padding: 7px 25px;
      background-color: #006338;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    @media (max-width: 425px) {
      padding: 15px;
    }
    @media (max-width: 768px) {
      padding: 40px;
    }
    @media (min-width: 769px) {
      padding: 60px;
    }
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.main {
  min-height: calc(100% - 112px);
  padding: 20px;
  h3 {
    text-align: left;
    @media (max-width: 425px) {
      text-align: center;
    }
    font-family: "EB Garamond", serif;
    color: #006338;
    font-weight: 500;
    &:first-child {
      margin-top:0
    }
  }
  .covoiturages-items {
    display: grid;
    grid-gap: 30px;
    &:last-child {
      padding-bottom: 20px;
    }
    .covoiturages-item {
      min-height: 275px;
      .bottom-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        small {
          font-size: 11px;
        }
        text-align: center;
        font-family: "EB Garamond", serif;
        margin: 0;
        background-color: #fff;
        border-bottom: 3px solid #b36700;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: 500;
        padding: 7px 10px;
        color: #006338;
      }
      .bottom-title-add {
        text-align: center;
        font-family: "EB Garamond", serif;
        margin: 0;
        background-color: #fff;
        border-bottom: 3px solid #b36700;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: 500;
        padding: 7px 10px;
        color: #006338;
        &:hover {
          background-color: #b36700;
          color: #fff
        }
      }
      .covoiturage-item-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
        text-align: left;
        font-size: 0.9em;
        padding: 0px 25px;
        .top-actions-bar {
          position: relative;
          top: 0;
          right: 0;
          background-color: red;
          width: 100%;
        }
        div {
          width: 100%;
          label {
            margin-bottom: 10px;
          }
          select {
            width: 100%;
          }
          input {
            width: 98%;
          }
        }
        &.Brest {
          background-image: url("/assets/brest.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/brest.jpg");
            color: white;
          }
        }
        &.Chantilly {
          background-image: url("/assets/chantilly.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/chantilly.jpg");
            color: white;
          }
        }
        &.Genêve {
          background-image: url("/assets/geneve.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/geneve.jpg");
            color: white;
          }
        }
        &.La-Roche-sur-Yon {
          background-image: url("/assets/roche-yon.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/roche-yon.jpg");
            color: white;
          }
        }
        &.La-Rochelle {
          background-image: url("/assets/rochelle.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/rochelle.jpg");
            color: white;
          }
        }
        &.Lille {
          background-image: url("/assets/lille.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/lille.jpg");
            color: white;
          }
        }
        &.Lyon {
          background-image: url("/assets/lyon.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/lyon.jpg");
            color: white;
          }
        }
        &.Marseille {
          background-image: url("/assets/marseille.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/marseille.jpg");
            color: white;
          }
        }
        &.Paris {
          background-image: url("/assets/paris.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/paris.jpg");
            color: white;
          }
        }
        &.Pipriac {
          background-image: url("/assets/pipriac.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/pipriac.jpg");
            color: white;
          }
        }
        &.Rennes {
          background-image: url("/assets/rennes.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/rennes.jpg");
            color: white;
          }
        }
        &.Saint-Briac-sur-Mer {
          background-image: url("/assets/saint-briac-mer.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/saint-briac-mer.jpg");
            color: white;
          }
        }
        &.Zurich {
          background-image: url("/assets/zurich.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &.show-details {
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/zurich.jpg");
            color: white;
          }
        }
        /* Set a specific height */
        height: calc(100% - 27px);
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .covoiturages-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .covoiturages-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.second {
  margin-top: 40px;
}