<section class="main" *ngIf="mailSet; else setMail">
  <h3>Mes covoiturages</h3>
  <div class="covoiturages-items">
    <ng-container *ngFor="let userCovoiturage of userCovoiturages">
      <div
        class="covoiturages-item"
        (click)="userCovoiturage.show_details = !userCovoiturage.show_details"
      >
        <div
          class="covoiturage-item-image"
          [ngClass]="userCovoiturage.start_location"
          [class.show-details]="userCovoiturage.show_details"
        >
          <div *ngIf="userCovoiturage.show_details">
            <h3 style="border: 1px solid #fff;font-weight: 500; background-color: #b36700;color: white; text-align: center;">{{userCovoiturage.aller ? 'Aller' : ''}} {{userCovoiturage.retour ? 'Retour' : ''}}</h3>
            <p style="text-align: center">
              De {{userCovoiturage.start_location}} vers {{userCovoiturage.end_location}} <br/>
              Le {{userCovoiturage.start_date | date:"dd/MM/yyyy hh:mm"}} <br/><br/>
              Pour plus de détails : {{ userCovoiturage.covoitureur }}<br/><br/>
              <button (click)="deleteCovoiturage(userCovoiturage.id)" style="background-color: rgb(173, 0, 0); color: #fff; padding: 7px 15px">Supprimer</button>
            </p>
          </div>
        </div>
        <div class="bottom-title">
          {{ userCovoiturage.start_location }}
          <small>{{
            userCovoiturage.start_date | date: "dd/MM/yyyy hh:mm"
          }}</small>
        </div>
      </div>
    </ng-container>
  </div>
  <h3 class="second">Tous les covoiturages</h3>
  <div class="covoiturages-items">
    <ng-container *ngFor="let allCovoiturage of allCovoiturages">
      <div
        class="covoiturages-item"
        (click)="allCovoiturage.show_details = !allCovoiturage.show_details"
      >
        <div
          class="covoiturage-item-image"
          [ngClass]="allCovoiturage.start_location"
          [class.show-details]="allCovoiturage.show_details"
        >
          <div *ngIf="allCovoiturage.show_details">
            <h3 style="border: 1px solid #fff;font-weight: 500; background-color: #b36700;color: white; text-align: center;">{{allCovoiturage.aller ? 'Aller' : ''}} {{allCovoiturage.retour ? 'Retour' : ''}}</h3>
            <p style="text-align: center">
              De {{allCovoiturage.start_location}} vers {{allCovoiturage.end_location}} <br/>
              Le {{allCovoiturage.start_date | date:"dd/MM/yyyy hh:mm"}} <br/><br/>
              Pour plus de détails : {{ allCovoiturage.covoitureur }}
            </p>
          </div>
        </div>
        <div class="bottom-title">
          {{ allCovoiturage.start_location }}
          <small>{{
            allCovoiturage.start_date | date: "dd/MM/yyyy hh:mm"
          }}</small>
        </div>
      </div>
    </ng-container>
  </div>
</section>
<ng-template #setMail>
  <section class="set-mail">
    <div class="set-mail-div">
      <h3>Entrez votre adresse mail</h3>
      <input type="text" [(ngModel)]="this.mail" />
      <p *ngIf="errorMessage" style="color: red; font-size: 11px">Covoitureur non connu...</p>
      <button (click)="validateMail()">Valider</button>
    </div>
  </section>
</ng-template>
