<section class="restaurants-section">
    <div class="restaurants-items">
        <div class="restaurants-item" (click)="openLink('https://www.tripadvisor.fr/Restaurant_Review-g1067529-d2367854-Reviews-Creperie_L_Hermine-Saint_Briac_sur_Mer_Ille_et_Vilaine_Brittany.html')">
          <div class="restaurants-item-image creperie-hermine"></div>
          <h3>Crêperie l'Hermine</h3>
        </div>
        <div class="restaurants-item" (click)="openLink('https://www.tripadvisor.fr/Restaurant_Review-g1067529-d14134041-Reviews-La_Table_Du_Bechet-Saint_Briac_sur_Mer_Ille_et_Vilaine_Brittany.html')">
          <div class="restaurants-item-image table-bechet"></div>
          <h3>La Table du Bechet</h3>
        </div>
        <div class="restaurants-item" (click)="openLink('https://www.tripadvisor.fr/Restaurant_Review-g1067529-d6527858-Reviews-Le_Rusty-Saint_Briac_sur_Mer_Ille_et_Vilaine_Brittany.html')">
          <div class="restaurants-item-image rusty"></div>
          <h3>Le Rusty</h3>
        </div>
        <div class="restaurants-item" (click)="openLink('https://www.tripadvisor.fr/Restaurant_Review-g187103-d7935249-Reviews-Petite_Nature-Rennes_Ille_et_Vilaine_Brittany.html')">
          <div class="restaurants-item-image petite-nature"></div>
          <h3>Petite Nature</h3>
        </div>
        <div class="restaurants-item" (click)="openLink('https://www.tripadvisor.fr/Restaurant_Review-g1067529-d8380398-Reviews-Bistrot_de_la_Houle-Saint_Briac_sur_Mer_Ille_et_Vilaine_Brittany.html')">
          <div class="restaurants-item-image bistrot-houle"></div>
          <h3>Bistrot de la Houle</h3>
        </div>
        <div class="restaurants-item" (click)="openLink('https://www.tripadvisor.fr/Restaurant_Review-g2085616-d18206296-Reviews-Les_Sardines_a_la_Plage-Lancieux_Cotes_d_Armor_Brittany.html')">
          <div class="restaurants-item-image sardines-plage"></div>
          <h3>Les Sardines à la Plage</h3>
        </div>
      </div>
</section>