.restaurants-section {
  background-color: #fff;
  min-height: calc(100vh - 112px);
  padding: 20px;
  .restaurants-items {
    display: grid;
    grid-gap: 30px;
    .restaurants-item {
      min-height: 210px;
      h3 {
        text-align: center;
        font-family: "EB Garamond", serif;
        margin: 0;
        background-color: #fff;
        border-bottom: 3px solid #b36700;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: 500;
        padding: 7px 0px;
        color: #006338;
      }
      .restaurants-item-image {
        &.creperie-hermine {
          background-image: url("/assets/creperie-hermine-hover.jpg");
        }
        &.table-bechet {
          background-image: url("/assets/table-bechet-hover.jpg");
        }
        &.rusty {
          background-image: url("/assets/rusty-hover.jpg");
        }
        &.petite-nature {
          background-image: url("/assets/petite-nature-hover.jpg");
        }
        &.bistrot-houle {
          background-image: url("/assets/bistrot-houle-hover.jpg");
        }
        &.sardines-plage {
          background-image: url("/assets/sardines-plage-hover.jpg");
        }
        /* Set a specific height */
        height: calc(100% - 27px);
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .restaurants-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .restaurants-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
