/* responsive */
.planning-section {
  min-height: 100vh;
  background-color: #383838;
  padding: 40px;
}
.planning-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 98.5%;
    background-color: #b36700;
    left: calc(50% + 1px);
  }
}
.planning-item {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  &:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
  }
  &:nth-child(even) {
    padding-left: calc(50% + 30px);
  }
}
.planning-dot {
  height: 16px;
  width: 16px;
  background-color: #b36700;
  border: 1px solid #ffffd4;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 0px;
}
.planning-date {
  font-size: 18px;
  color: #b36700;
  font-weight: bold;
  margin: -2px 0 15px;
}
.planning-content {
  background-color: #006338;
  padding: 15px;
  border-radius: 5px;
  h3 {
    color: #ffffd4;
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 26px;
    font-family: "Tangerine", cursive;
  }
  p {
    color: #ffffd4;
    font-size: 16px;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .planning-section {
    padding: 20px;
  }
  .planning-items {
    &::before {
      left: 7px;
    }
  }
  .planning-item {
    &:nth-child(odd) {
      padding-right: 0;
      text-align: left;
      padding-left: 37px;
    }
    &:nth-child(even) {
      padding-left: 37px;
    }
  }
  .planning-dot {
    left: 0;
  }
  .planning-content {
    h3 {
      font-size: 22px;
    }
  }
}
