<section class="planning-section">
  <div class="planning-items">
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">02/09/2022 - 18:00</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Accueil des invités
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">03/09/2022 - 14:00</div>
      <div class="planning-content">
        <h3>Presbytère de Saint-Briac-sur-Mer</h3>
        <p>
          Cérémonie civile
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">03/09/2022 - 16:00</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Cérémonie laïque
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">03/09/2022 - 17:00</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Cocktail
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">03/09/2022 - 20:00</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Dîner
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">04/09/2022 - 12:00</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Brunch, Olympiades & Pool party
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">04/09/2022 - 09:00</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Détente jusqu'à 12 heures
        </p>
      </div>
    </div>
  </div>
</section>