/* responsive */
.planning-section {
  min-height: 100vh;
  background-color: #fff;
  padding: 30px;
}
.planning-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #006338;
    left: calc(50% + 1px);
  }
}
.planning-item {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  &:nth-child(odd) {
    padding-right: calc(50% + 30px);
  }
  &:nth-child(even) {
    padding-left: calc(50% + 30px);
  }
}
.planning-dot {
  height: 16px;
  width: 16px;
  background-color: #006338;
  border: 1px solid #006338;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 0px;
}
.planning-date {
  font-size: 18px;
  color: #006338;
  font-weight: bold;
  font-size: 26px;
  margin: -2px 0 15px;
  font-family: "Tangerine", cursive;
}
.planning-content {
  background-color: #fff;
  border-bottom: 3px solid #006338;
  display: flex;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @media (min-width: 769px) {
    flex-direction: column-reverse;
  }
  @media (max-width: 768px) {
    min-height: 400px;
    flex-direction: column-reverse;
  }
  .planning-content-text {
    padding: 20px;
    h3 {
      color: #006338;
      margin: 0 0 5px;
      font-weight: 500;
      font-family: "EB Garamond", serif;
    }
    p {
      color: #006338;
      font-size: 16px;
      font-weight: 300;
    }
    .zmdi {
      margin-right: 10px;
    }
  }
  .planning-content-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    flex-grow: 1;
    &.manoir {
      background-image: url("/assets/manoir.jpg");
    }
    &.presbytere {
      background-image: url("/assets/presbytere.jpg");
    }
  }
}
@media (max-width: 768px) {
  .planning-section {
    padding: 20px;
  }
  .planning-items {
    &::before {
      display: none;
    }
  }
  .planning-item {
    &:nth-child(odd) {
      padding-right: 0;
      text-align: left;
    }
    &:nth-child(even) {
      padding-left: 1px;
    }
  }
  .planning-dot {
    left: 0;
    display: none;
  }
}
