<section class="planning-section">
  <div class="planning-items">
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Vendredi 02 septembre 2022 - 18 heures</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Accueil des invités
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Samedi 03 septembre 2022 - 14 heures</div>
      <div class="planning-content">
        <h3>Presbytère de Saint-Briac-sur-Mer</h3>
        <p>
          Cérémonie civile
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Samedi 03 septembre 2022 - 16 heures</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Cérémonie laïque
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Samedi 03 septembre 2022 - 17 heures</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Cocktail
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Samedi 03 septembre 2022 - 20 heures</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Dîner
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Dimanche 04 septembre 2022 - 12 heures</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Brunch, Olympiades & Pool party
        </p>
      </div>
    </div>
    <div class="planning-item">
      <div class="planning-dot"></div>
      <div class="planning-date">Dimanche 04 septembre 2022 - 09 heures</div>
      <div class="planning-content">
        <h3>Manoir de la Perdrilais de Pipriac</h3>
        <p>
          Détente jusqu'à 12 heures
        </p>
      </div>
    </div>
  </div>
</section>