<section class="logements-section">
  <div class="logements-items">
    <div class="logements-item">
      <div class="logements-item-image rives-nature"></div>
      <h3>Rive Nature</h3>
    </div>
    <div class="logements-item">
      <div class="logements-item-image relais-des-arcandiers"></div>
      <h3>Le relais des arcandiers</h3>
    </div>
    <div class="logements-item">
      <div class="logements-item-image chambre-hotes-cahardet"></div>
      <h3>Chambre d'hôtes de Cahardet</h3>
    </div>
    <div class="logements-item">
      <div class="logements-item-image gite-des-hirondelles"></div>
      <h3>Gîte des Hirondelles</h3>
    </div>
    <div class="logements-item">
      <div class="logements-item-image clos-du-chene"></div>
      <h3>Le clos du chêne</h3>
    </div>
    <div class="logements-item">
      <div class="logements-item-image chateau-du-brossay"></div>
      <h3>Chateau Le Brossay</h3>
    </div>
  </div>
</section>
