<header class="header">
  <div class="logo">
    <h1 class="logo-title" [routerLink]="['/']">Solène & Florent</h1>
    <h1 class="logo-title-alt" [routerLink]="['/']">SF</h1>
  </div>
  <div class="menu">
    <nav class="menu-navbar">
      <ul>
        <li>
          <a
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Accueil</a
          >
        </li>
        <li>
          <a [routerLink]="['/planning']" routerLinkActive="active">Planning</a>
        </li>
        <li>
          <a [routerLink]="['/covoiturages']" routerLinkActive="active"
            >Covoiturages</a
          >
        </li>
        <li>
          <a [routerLink]="['/logements']" routerLinkActive="active"
            >Logements</a
          >
        </li>
      </ul>
    </nav>
    <nav class="menu-navbar-alt">
      <ul>
        <li>
          <a
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="zmdi zmdi-home"></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/planning']" routerLinkActive="active">
            <span class="zmdi zmdi-calendar"></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/covoiturages']" routerLinkActive="active">
            <span class="zmdi zmdi-car-taxi"></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/logements']" routerLinkActive="active"
            ><span class="zmdi zmdi-hotel"></span
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
