.header {
  background-color: #fff;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  border-bottom: 2px solid #006338;
  .logo {
    .logo-title {
      @media (max-width: 768px) {
        display: none;
      }
      font-family: "Tangerine", cursive;
      font-size: 30px;
      text-transform: capitalize;
      color: #006338;
      &:hover {
        cursor: pointer;
      }
    }
    .logo-title-alt {
      @media (min-width: 769px) {
        display: none;
      }
      font-family: "Tangerine", cursive;
      font-size: 30px;
      text-transform: capitalize;
      color: #006338;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .menu {
    display: flex;
    gap: 20px;
    .menu-navbar {
      @media (max-width: 768px) {
        display: none;
      }
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
          margin-left: 20px;
          a {
            text-decoration: none;
            color: #006338;
            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }
    .menu-navbar-alt {
      @media (min-width: 769px) {
        display: none;
      }
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
          margin-left: 20px;
          a {
            text-decoration: none;
            color: #006338;
            font-size: 20px;
            &.active {
              font-weight: bold;
              color: #b36700;
              @media (min-width: 769px) {
                border-bottom: 2px solid #b36700;
                padding-bottom: 5px;                
              }
            }
          }
        }
      }
    }
  }
}
