<section #test class="activites-section">
  <div class="navigation-carousel">
    <button (click)="activateCarousel1()" [class.active]="this.carousel1active">Circuit 1</button>
    <button (click)="activateCarousel2()" [class.active]="this.carousel2active">Circuit 2</button>
    <button (click)="activateCarousel3()" [class.active]="this.carousel3active">Les plages</button>
  </div>
  <div class="carousel-wrapper">
    <carousel *ngIf="this.carousel1active"
      [images]="circuit1"
      [height]="carouselHeight"
      [dots]="true"
      cellWidth="100%"
    ></carousel>
    <carousel *ngIf="this.carousel2active"
      [images]="circuit2"
      [height]="carouselHeight"
      [dots]="true"
      cellWidth="100%"
    ></carousel>
    <carousel *ngIf="this.carousel3active"
      [images]="plages"
      [height]="carouselHeight"
      [dots]="true"
      cellWidth="100%"
    ></carousel>
    <h3>
      {{this.carousel1active ? 'Circuit 1' : ''}}
      {{this.carousel2active ? 'Circuit 2' : ''}}
      {{this.carousel3active ? 'Les plages' : ''}}
      <br />
      <small>
        {{this.carousel1active ? 'Les menhirs de Monteneuf, La fôret de Brocéliande' : ''}}
        {{this.carousel2active ? 'Bécherel, Saint-Suliac, Côte Emeraude' : ''}}
        {{this.carousel3active ? 'Dinard, Saint-Lunaire, Saint-Briac, Lancieux' : ''}}
      </small>
    </h3>
  </div>
</section>
